	<div class="content__item__inner">
		<div class="content__item__header">
			<h3 class="content__item__titel"><%= name %></h3>
			<div class="controller controller--content__item">
				<div class="controller__item controller__item--collapse">
					<i class="glyphicon glyphicon-chevron-up"></i>
				</div>
				<div class="controller__item controller__item--expande">
					<i class="glyphicon glyphicon-chevron-down"></i>
				</div>
				<div class="controller__item controller__item--edit">
					<i class="glyphicon glyphicon-pencil"></i>
				</div>
				<div class="controller__item controller__item--delete">
					<i class="glyphicon glyphicon-remove"></i>
				</div>
			</div>
		</div>
		<div class="content__item__text">
			<% for (var characteristic in characteristics) { %>
				<% if (characteristics[characteristic].view_type === 'text' || characteristics[characteristic].view_type === 'varchar' || characteristics[characteristic].view_type === 'integer') { %>
					<div class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<p> <%= characteristics[characteristic].innerText %></p>
						</div>
						<div class="clearfix"></div>
					</div>
				<% } else if (characteristics[characteristic].view_type === 'img') { %>
					<div class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<% if (characteristics[characteristic].innerText) { %> 
								<% for (var i=0; i<characteristics[characteristic].innerText.length; i++) { %>
									<p><img style="width:20%;float:left;margin-right:15px;"src="images/Projects/<%= characteristics[characteristic].innerText[i] %>"></p>
								<% } %>
							<% } %>
						</div>
						<div class="clearfix"></div>
					</div>
				<% } %> 
			<% } %>
		</div>
	</div>
	<form enctype="multipart/form-data">
		<div class="content__item__header">
			<input type="text" value="<%= name %>" name="name">
		</div>
		<div class="content__item__text">
			<% for (var characteristic in characteristics) { %>
				<!-- <div class="content__item__text__item">
					<div class="content__item__text__item__titel">
						<h4><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
					</div>
					<div class="content__item__text__item__text">
						<textarea data-type="application/json" <%if (characteristics[characteristic].required){
							%> required="required" <%
							}%> type="text" data-dbFieldName="<%= characteristic %>"><%= characteristics[characteristic].innerText %></textarea>
					</div>
					<div class="clearfix"></div>
				</div> -->
				<% if (characteristics[characteristic].view_type === 'text' || characteristics[characteristic].view_type === 'varchar' || characteristics[characteristic].view_type === 'integer') { %>
					<div class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<textarea data-type="application/json" name="<%= characteristic %>" <%if (characteristics[characteristic].required){
							%> required="required" <%
							}%> type="text" data-dbFieldName="<%= characteristic %>"><%= characteristics[characteristic].innerText %></textarea>
						</div>
						<div class="clearfix"></div>
					</div>
				<% } else if (characteristics[characteristic].view_type === 'img') { %>
					<div class="content__item__text__item">
						<div class="content__item__text__item__titel">
							<h4><%= characteristics[characteristic].view_name.toUpperCase().replace(/_/g, " ") + " : " %></h4>
						</div>
						<div class="content__item__text__item__text">
							<% if (characteristics[characteristic].innerText) { %>
								<% for (var i=0; i<characteristics[characteristic].innerText.length; i++) { %>
									<div style="margin-bottom:15px;" class="col-sm-24 img_container" data-imgId="<%= characteristics[characteristic].img_id[i] %>">
										<p><img style="width:20%;float:left;margin-right:15px;"src="images/Projects/<%= characteristics[characteristic].innerText[i] %>"></p>
										<i class="img_delete_controller glyphicon glyphicon-remove" data-imgId="<%= characteristics[characteristic].img_id[i] %>"></i>
										<% if (!characteristics[characteristic].super_state[i]) { %> 
										<i class="img_main_controller glyphicon glyphicon-ok" data-imgId="<%= characteristics[characteristic].img_id[i] %>"></i>
										<% } %>
									</div>
								<% } %>
							<% } %>
							<input <% if ( characteristics[characteristic].img_config.multiple ) { %> multiple="multiple" <% } %> type="file" name="uploadFile" data-dbFieldName="<%= characteristic %>"/>
						</div>
						<div class="clearfix"></div>
					</div>
				<% } %> 
			<% } %>
		</div>
		<div class="controller controller--content__item">
			<div class="controller__item controller__item--cancel">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</div>
			<div class="controller__item controller__item--save">
				<i class="glyphicon glyphicon-ok"></i>
			</div>
			<div class="controller__item controller__item--delete">
				<i class="glyphicon glyphicon-remove"></i>
			</div>
		</div>
	</form>