<div class="content__item content__item--greeting">
	<h1 class="content__item__titel">Hello, My Friend</h1>
	<div class="content__item__text">
		<p>This is a staring page in your administration panel.</p>
		<p>Enjoy it</p>
	</div>
</div>