/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  select {
    background: #fff !important; }

  .navbar {
    display: none; }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important; }

  .label {
    border: 1px solid #000; }

  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-cd:before {
  content: "\e201"; }

.glyphicon-save-file:before {
  content: "\e202"; }

.glyphicon-open-file:before {
  content: "\e203"; }

.glyphicon-level-up:before {
  content: "\e204"; }

.glyphicon-copy:before {
  content: "\e205"; }

.glyphicon-paste:before {
  content: "\e206"; }

.glyphicon-alert:before {
  content: "\e209"; }

.glyphicon-equalizer:before {
  content: "\e210"; }

.glyphicon-king:before {
  content: "\e211"; }

.glyphicon-queen:before {
  content: "\e212"; }

.glyphicon-pawn:before {
  content: "\e213"; }

.glyphicon-bishop:before {
  content: "\e214"; }

.glyphicon-knight:before {
  content: "\e215"; }

.glyphicon-baby-formula:before {
  content: "\e216"; }

.glyphicon-tent:before {
  content: "\26fa"; }

.glyphicon-blackboard:before {
  content: "\e218"; }

.glyphicon-bed:before {
  content: "\e219"; }

.glyphicon-apple:before {
  content: "\f8ff"; }

.glyphicon-erase:before {
  content: "\e221"; }

.glyphicon-hourglass:before {
  content: "\231b"; }

.glyphicon-lamp:before {
  content: "\e223"; }

.glyphicon-duplicate:before {
  content: "\e224"; }

.glyphicon-piggy-bank:before {
  content: "\e225"; }

.glyphicon-scissors:before {
  content: "\e226"; }

.glyphicon-bitcoin:before {
  content: "\e227"; }

.glyphicon-btc:before {
  content: "\e227"; }

.glyphicon-xbt:before {
  content: "\e227"; }

.glyphicon-yen:before {
  content: "\00a5"; }

.glyphicon-jpy:before {
  content: "\00a5"; }

.glyphicon-ruble:before {
  content: "\20bd"; }

.glyphicon-rub:before {
  content: "\20bd"; }

.glyphicon-scale:before {
  content: "\e230"; }

.glyphicon-ice-lolly:before {
  content: "\e231"; }

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

.glyphicon-education:before {
  content: "\e233"; }

.glyphicon-option-horizontal:before {
  content: "\e234"; }

.glyphicon-option-vertical:before {
  content: "\e235"; }

.glyphicon-menu-hamburger:before {
  content: "\e236"; }

.glyphicon-modal-window:before {
  content: "\e237"; }

.glyphicon-oil:before {
  content: "\e238"; }

.glyphicon-grain:before {
  content: "\e239"; }

.glyphicon-sunglasses:before {
  content: "\e240"; }

.glyphicon-text-size:before {
  content: "\e241"; }

.glyphicon-text-color:before {
  content: "\e242"; }

.glyphicon-text-background:before {
  content: "\e243"; }

.glyphicon-object-align-top:before {
  content: "\e244"; }

.glyphicon-object-align-bottom:before {
  content: "\e245"; }

.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

.glyphicon-object-align-left:before {
  content: "\e247"; }

.glyphicon-object-align-vertical:before {
  content: "\e248"; }

.glyphicon-object-align-right:before {
  content: "\e249"; }

.glyphicon-triangle-right:before {
  content: "\e250"; }

.glyphicon-triangle-left:before {
  content: "\e251"; }

.glyphicon-triangle-bottom:before {
  content: "\e252"; }

.glyphicon-triangle-top:before {
  content: "\e253"; }

.glyphicon-console:before {
  content: "\e254"; }

.glyphicon-superscript:before {
  content: "\e255"; }

.glyphicon-subscript:before {
  content: "\e256"; }

.glyphicon-menu-left:before {
  content: "\e257"; }

.glyphicon-menu-right:before {
  content: "\e258"; }

.glyphicon-menu-down:before {
  content: "\e259"; }

.glyphicon-menu-up:before {
  content: "\e260"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777777; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 21px; } }

small,
.small {
  font-size: 85%; }

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase, .initialism {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #337ab7; }

a.text-primary:hover {
  color: #286090; }

.text-success {
  color: #3c763d; }

a.text-success:hover {
  color: #2b542c; }

.text-info {
  color: #31708f; }

a.text-info:hover {
  color: #245269; }

.text-warning {
  color: #8a6d3b; }

a.text-warning:hover {
  color: #66512c; }

.text-danger {
  color: #a94442; }

a.text-danger:hover {
  color: #843534; }

.bg-primary {
  color: #fff; }

.bg-primary {
  background-color: #337ab7; }

a.bg-primary:hover {
  background-color: #286090; }

.bg-success {
  background-color: #dff0d8; }

a.bg-success:hover {
  background-color: #c1e2b3; }

.bg-info {
  background-color: #d9edf7; }

a.bg-info:hover {
  background-color: #afd9ee; }

.bg-warning {
  background-color: #fcf8e3; }

a.bg-warning:hover {
  background-color: #f7ecb5; }

.bg-danger {
  background-color: #f2dede; }

a.bg-danger:hover {
  background-color: #e4b9b9; }

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 20px; }

dt,
dd {
  line-height: 1.42857; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }
.dl-horizontal dd:after {
  clear: both; }
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777; }

.initialism {
  font-size: 90%; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.42857;
    color: #777777; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
  float: left; }

.col-xs-1 {
  width: 4.16667%; }

.col-xs-2 {
  width: 8.33333%; }

.col-xs-3 {
  width: 12.5%; }

.col-xs-4 {
  width: 16.66667%; }

.col-xs-5 {
  width: 20.83333%; }

.col-xs-6 {
  width: 25%; }

.col-xs-7 {
  width: 29.16667%; }

.col-xs-8 {
  width: 33.33333%; }

.col-xs-9 {
  width: 37.5%; }

.col-xs-10 {
  width: 41.66667%; }

.col-xs-11 {
  width: 45.83333%; }

.col-xs-12 {
  width: 50%; }

.col-xs-13 {
  width: 54.16667%; }

.col-xs-14 {
  width: 58.33333%; }

.col-xs-15 {
  width: 62.5%; }

.col-xs-16 {
  width: 66.66667%; }

.col-xs-17 {
  width: 70.83333%; }

.col-xs-18 {
  width: 75%; }

.col-xs-19 {
  width: 79.16667%; }

.col-xs-20 {
  width: 83.33333%; }

.col-xs-21 {
  width: 87.5%; }

.col-xs-22 {
  width: 91.66667%; }

.col-xs-23 {
  width: 95.83333%; }

.col-xs-24 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 4.16667%; }

.col-xs-pull-2 {
  right: 8.33333%; }

.col-xs-pull-3 {
  right: 12.5%; }

.col-xs-pull-4 {
  right: 16.66667%; }

.col-xs-pull-5 {
  right: 20.83333%; }

.col-xs-pull-6 {
  right: 25%; }

.col-xs-pull-7 {
  right: 29.16667%; }

.col-xs-pull-8 {
  right: 33.33333%; }

.col-xs-pull-9 {
  right: 37.5%; }

.col-xs-pull-10 {
  right: 41.66667%; }

.col-xs-pull-11 {
  right: 45.83333%; }

.col-xs-pull-12 {
  right: 50%; }

.col-xs-pull-13 {
  right: 54.16667%; }

.col-xs-pull-14 {
  right: 58.33333%; }

.col-xs-pull-15 {
  right: 62.5%; }

.col-xs-pull-16 {
  right: 66.66667%; }

.col-xs-pull-17 {
  right: 70.83333%; }

.col-xs-pull-18 {
  right: 75%; }

.col-xs-pull-19 {
  right: 79.16667%; }

.col-xs-pull-20 {
  right: 83.33333%; }

.col-xs-pull-21 {
  right: 87.5%; }

.col-xs-pull-22 {
  right: 91.66667%; }

.col-xs-pull-23 {
  right: 95.83333%; }

.col-xs-pull-24 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 4.16667%; }

.col-xs-push-2 {
  left: 8.33333%; }

.col-xs-push-3 {
  left: 12.5%; }

.col-xs-push-4 {
  left: 16.66667%; }

.col-xs-push-5 {
  left: 20.83333%; }

.col-xs-push-6 {
  left: 25%; }

.col-xs-push-7 {
  left: 29.16667%; }

.col-xs-push-8 {
  left: 33.33333%; }

.col-xs-push-9 {
  left: 37.5%; }

.col-xs-push-10 {
  left: 41.66667%; }

.col-xs-push-11 {
  left: 45.83333%; }

.col-xs-push-12 {
  left: 50%; }

.col-xs-push-13 {
  left: 54.16667%; }

.col-xs-push-14 {
  left: 58.33333%; }

.col-xs-push-15 {
  left: 62.5%; }

.col-xs-push-16 {
  left: 66.66667%; }

.col-xs-push-17 {
  left: 70.83333%; }

.col-xs-push-18 {
  left: 75%; }

.col-xs-push-19 {
  left: 79.16667%; }

.col-xs-push-20 {
  left: 83.33333%; }

.col-xs-push-21 {
  left: 87.5%; }

.col-xs-push-22 {
  left: 91.66667%; }

.col-xs-push-23 {
  left: 95.83333%; }

.col-xs-push-24 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 4.16667%; }

.col-xs-offset-2 {
  margin-left: 8.33333%; }

.col-xs-offset-3 {
  margin-left: 12.5%; }

.col-xs-offset-4 {
  margin-left: 16.66667%; }

.col-xs-offset-5 {
  margin-left: 20.83333%; }

.col-xs-offset-6 {
  margin-left: 25%; }

.col-xs-offset-7 {
  margin-left: 29.16667%; }

.col-xs-offset-8 {
  margin-left: 33.33333%; }

.col-xs-offset-9 {
  margin-left: 37.5%; }

.col-xs-offset-10 {
  margin-left: 41.66667%; }

.col-xs-offset-11 {
  margin-left: 45.83333%; }

.col-xs-offset-12 {
  margin-left: 50%; }

.col-xs-offset-13 {
  margin-left: 54.16667%; }

.col-xs-offset-14 {
  margin-left: 58.33333%; }

.col-xs-offset-15 {
  margin-left: 62.5%; }

.col-xs-offset-16 {
  margin-left: 66.66667%; }

.col-xs-offset-17 {
  margin-left: 70.83333%; }

.col-xs-offset-18 {
  margin-left: 75%; }

.col-xs-offset-19 {
  margin-left: 79.16667%; }

.col-xs-offset-20 {
  margin-left: 83.33333%; }

.col-xs-offset-21 {
  margin-left: 87.5%; }

.col-xs-offset-22 {
  margin-left: 91.66667%; }

.col-xs-offset-23 {
  margin-left: 95.83333%; }

.col-xs-offset-24 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
    float: left; }

  .col-sm-1 {
    width: 4.16667%; }

  .col-sm-2 {
    width: 8.33333%; }

  .col-sm-3 {
    width: 12.5%; }

  .col-sm-4 {
    width: 16.66667%; }

  .col-sm-5 {
    width: 20.83333%; }

  .col-sm-6 {
    width: 25%; }

  .col-sm-7 {
    width: 29.16667%; }

  .col-sm-8 {
    width: 33.33333%; }

  .col-sm-9 {
    width: 37.5%; }

  .col-sm-10 {
    width: 41.66667%; }

  .col-sm-11 {
    width: 45.83333%; }

  .col-sm-12 {
    width: 50%; }

  .col-sm-13 {
    width: 54.16667%; }

  .col-sm-14 {
    width: 58.33333%; }

  .col-sm-15 {
    width: 62.5%; }

  .col-sm-16 {
    width: 66.66667%; }

  .col-sm-17 {
    width: 70.83333%; }

  .col-sm-18 {
    width: 75%; }

  .col-sm-19 {
    width: 79.16667%; }

  .col-sm-20 {
    width: 83.33333%; }

  .col-sm-21 {
    width: 87.5%; }

  .col-sm-22 {
    width: 91.66667%; }

  .col-sm-23 {
    width: 95.83333%; }

  .col-sm-24 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 4.16667%; }

  .col-sm-pull-2 {
    right: 8.33333%; }

  .col-sm-pull-3 {
    right: 12.5%; }

  .col-sm-pull-4 {
    right: 16.66667%; }

  .col-sm-pull-5 {
    right: 20.83333%; }

  .col-sm-pull-6 {
    right: 25%; }

  .col-sm-pull-7 {
    right: 29.16667%; }

  .col-sm-pull-8 {
    right: 33.33333%; }

  .col-sm-pull-9 {
    right: 37.5%; }

  .col-sm-pull-10 {
    right: 41.66667%; }

  .col-sm-pull-11 {
    right: 45.83333%; }

  .col-sm-pull-12 {
    right: 50%; }

  .col-sm-pull-13 {
    right: 54.16667%; }

  .col-sm-pull-14 {
    right: 58.33333%; }

  .col-sm-pull-15 {
    right: 62.5%; }

  .col-sm-pull-16 {
    right: 66.66667%; }

  .col-sm-pull-17 {
    right: 70.83333%; }

  .col-sm-pull-18 {
    right: 75%; }

  .col-sm-pull-19 {
    right: 79.16667%; }

  .col-sm-pull-20 {
    right: 83.33333%; }

  .col-sm-pull-21 {
    right: 87.5%; }

  .col-sm-pull-22 {
    right: 91.66667%; }

  .col-sm-pull-23 {
    right: 95.83333%; }

  .col-sm-pull-24 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 4.16667%; }

  .col-sm-push-2 {
    left: 8.33333%; }

  .col-sm-push-3 {
    left: 12.5%; }

  .col-sm-push-4 {
    left: 16.66667%; }

  .col-sm-push-5 {
    left: 20.83333%; }

  .col-sm-push-6 {
    left: 25%; }

  .col-sm-push-7 {
    left: 29.16667%; }

  .col-sm-push-8 {
    left: 33.33333%; }

  .col-sm-push-9 {
    left: 37.5%; }

  .col-sm-push-10 {
    left: 41.66667%; }

  .col-sm-push-11 {
    left: 45.83333%; }

  .col-sm-push-12 {
    left: 50%; }

  .col-sm-push-13 {
    left: 54.16667%; }

  .col-sm-push-14 {
    left: 58.33333%; }

  .col-sm-push-15 {
    left: 62.5%; }

  .col-sm-push-16 {
    left: 66.66667%; }

  .col-sm-push-17 {
    left: 70.83333%; }

  .col-sm-push-18 {
    left: 75%; }

  .col-sm-push-19 {
    left: 79.16667%; }

  .col-sm-push-20 {
    left: 83.33333%; }

  .col-sm-push-21 {
    left: 87.5%; }

  .col-sm-push-22 {
    left: 91.66667%; }

  .col-sm-push-23 {
    left: 95.83333%; }

  .col-sm-push-24 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 4.16667%; }

  .col-sm-offset-2 {
    margin-left: 8.33333%; }

  .col-sm-offset-3 {
    margin-left: 12.5%; }

  .col-sm-offset-4 {
    margin-left: 16.66667%; }

  .col-sm-offset-5 {
    margin-left: 20.83333%; }

  .col-sm-offset-6 {
    margin-left: 25%; }

  .col-sm-offset-7 {
    margin-left: 29.16667%; }

  .col-sm-offset-8 {
    margin-left: 33.33333%; }

  .col-sm-offset-9 {
    margin-left: 37.5%; }

  .col-sm-offset-10 {
    margin-left: 41.66667%; }

  .col-sm-offset-11 {
    margin-left: 45.83333%; }

  .col-sm-offset-12 {
    margin-left: 50%; }

  .col-sm-offset-13 {
    margin-left: 54.16667%; }

  .col-sm-offset-14 {
    margin-left: 58.33333%; }

  .col-sm-offset-15 {
    margin-left: 62.5%; }

  .col-sm-offset-16 {
    margin-left: 66.66667%; }

  .col-sm-offset-17 {
    margin-left: 70.83333%; }

  .col-sm-offset-18 {
    margin-left: 75%; }

  .col-sm-offset-19 {
    margin-left: 79.16667%; }

  .col-sm-offset-20 {
    margin-left: 83.33333%; }

  .col-sm-offset-21 {
    margin-left: 87.5%; }

  .col-sm-offset-22 {
    margin-left: 91.66667%; }

  .col-sm-offset-23 {
    margin-left: 95.83333%; }

  .col-sm-offset-24 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24 {
    float: left; }

  .col-md-1 {
    width: 4.16667%; }

  .col-md-2 {
    width: 8.33333%; }

  .col-md-3 {
    width: 12.5%; }

  .col-md-4 {
    width: 16.66667%; }

  .col-md-5 {
    width: 20.83333%; }

  .col-md-6 {
    width: 25%; }

  .col-md-7 {
    width: 29.16667%; }

  .col-md-8 {
    width: 33.33333%; }

  .col-md-9 {
    width: 37.5%; }

  .col-md-10 {
    width: 41.66667%; }

  .col-md-11 {
    width: 45.83333%; }

  .col-md-12 {
    width: 50%; }

  .col-md-13 {
    width: 54.16667%; }

  .col-md-14 {
    width: 58.33333%; }

  .col-md-15 {
    width: 62.5%; }

  .col-md-16 {
    width: 66.66667%; }

  .col-md-17 {
    width: 70.83333%; }

  .col-md-18 {
    width: 75%; }

  .col-md-19 {
    width: 79.16667%; }

  .col-md-20 {
    width: 83.33333%; }

  .col-md-21 {
    width: 87.5%; }

  .col-md-22 {
    width: 91.66667%; }

  .col-md-23 {
    width: 95.83333%; }

  .col-md-24 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 4.16667%; }

  .col-md-pull-2 {
    right: 8.33333%; }

  .col-md-pull-3 {
    right: 12.5%; }

  .col-md-pull-4 {
    right: 16.66667%; }

  .col-md-pull-5 {
    right: 20.83333%; }

  .col-md-pull-6 {
    right: 25%; }

  .col-md-pull-7 {
    right: 29.16667%; }

  .col-md-pull-8 {
    right: 33.33333%; }

  .col-md-pull-9 {
    right: 37.5%; }

  .col-md-pull-10 {
    right: 41.66667%; }

  .col-md-pull-11 {
    right: 45.83333%; }

  .col-md-pull-12 {
    right: 50%; }

  .col-md-pull-13 {
    right: 54.16667%; }

  .col-md-pull-14 {
    right: 58.33333%; }

  .col-md-pull-15 {
    right: 62.5%; }

  .col-md-pull-16 {
    right: 66.66667%; }

  .col-md-pull-17 {
    right: 70.83333%; }

  .col-md-pull-18 {
    right: 75%; }

  .col-md-pull-19 {
    right: 79.16667%; }

  .col-md-pull-20 {
    right: 83.33333%; }

  .col-md-pull-21 {
    right: 87.5%; }

  .col-md-pull-22 {
    right: 91.66667%; }

  .col-md-pull-23 {
    right: 95.83333%; }

  .col-md-pull-24 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 4.16667%; }

  .col-md-push-2 {
    left: 8.33333%; }

  .col-md-push-3 {
    left: 12.5%; }

  .col-md-push-4 {
    left: 16.66667%; }

  .col-md-push-5 {
    left: 20.83333%; }

  .col-md-push-6 {
    left: 25%; }

  .col-md-push-7 {
    left: 29.16667%; }

  .col-md-push-8 {
    left: 33.33333%; }

  .col-md-push-9 {
    left: 37.5%; }

  .col-md-push-10 {
    left: 41.66667%; }

  .col-md-push-11 {
    left: 45.83333%; }

  .col-md-push-12 {
    left: 50%; }

  .col-md-push-13 {
    left: 54.16667%; }

  .col-md-push-14 {
    left: 58.33333%; }

  .col-md-push-15 {
    left: 62.5%; }

  .col-md-push-16 {
    left: 66.66667%; }

  .col-md-push-17 {
    left: 70.83333%; }

  .col-md-push-18 {
    left: 75%; }

  .col-md-push-19 {
    left: 79.16667%; }

  .col-md-push-20 {
    left: 83.33333%; }

  .col-md-push-21 {
    left: 87.5%; }

  .col-md-push-22 {
    left: 91.66667%; }

  .col-md-push-23 {
    left: 95.83333%; }

  .col-md-push-24 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 4.16667%; }

  .col-md-offset-2 {
    margin-left: 8.33333%; }

  .col-md-offset-3 {
    margin-left: 12.5%; }

  .col-md-offset-4 {
    margin-left: 16.66667%; }

  .col-md-offset-5 {
    margin-left: 20.83333%; }

  .col-md-offset-6 {
    margin-left: 25%; }

  .col-md-offset-7 {
    margin-left: 29.16667%; }

  .col-md-offset-8 {
    margin-left: 33.33333%; }

  .col-md-offset-9 {
    margin-left: 37.5%; }

  .col-md-offset-10 {
    margin-left: 41.66667%; }

  .col-md-offset-11 {
    margin-left: 45.83333%; }

  .col-md-offset-12 {
    margin-left: 50%; }

  .col-md-offset-13 {
    margin-left: 54.16667%; }

  .col-md-offset-14 {
    margin-left: 58.33333%; }

  .col-md-offset-15 {
    margin-left: 62.5%; }

  .col-md-offset-16 {
    margin-left: 66.66667%; }

  .col-md-offset-17 {
    margin-left: 70.83333%; }

  .col-md-offset-18 {
    margin-left: 75%; }

  .col-md-offset-19 {
    margin-left: 79.16667%; }

  .col-md-offset-20 {
    margin-left: 83.33333%; }

  .col-md-offset-21 {
    margin-left: 87.5%; }

  .col-md-offset-22 {
    margin-left: 91.66667%; }

  .col-md-offset-23 {
    margin-left: 95.83333%; }

  .col-md-offset-24 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24 {
    float: left; }

  .col-lg-1 {
    width: 4.16667%; }

  .col-lg-2 {
    width: 8.33333%; }

  .col-lg-3 {
    width: 12.5%; }

  .col-lg-4 {
    width: 16.66667%; }

  .col-lg-5 {
    width: 20.83333%; }

  .col-lg-6 {
    width: 25%; }

  .col-lg-7 {
    width: 29.16667%; }

  .col-lg-8 {
    width: 33.33333%; }

  .col-lg-9 {
    width: 37.5%; }

  .col-lg-10 {
    width: 41.66667%; }

  .col-lg-11 {
    width: 45.83333%; }

  .col-lg-12 {
    width: 50%; }

  .col-lg-13 {
    width: 54.16667%; }

  .col-lg-14 {
    width: 58.33333%; }

  .col-lg-15 {
    width: 62.5%; }

  .col-lg-16 {
    width: 66.66667%; }

  .col-lg-17 {
    width: 70.83333%; }

  .col-lg-18 {
    width: 75%; }

  .col-lg-19 {
    width: 79.16667%; }

  .col-lg-20 {
    width: 83.33333%; }

  .col-lg-21 {
    width: 87.5%; }

  .col-lg-22 {
    width: 91.66667%; }

  .col-lg-23 {
    width: 95.83333%; }

  .col-lg-24 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 4.16667%; }

  .col-lg-pull-2 {
    right: 8.33333%; }

  .col-lg-pull-3 {
    right: 12.5%; }

  .col-lg-pull-4 {
    right: 16.66667%; }

  .col-lg-pull-5 {
    right: 20.83333%; }

  .col-lg-pull-6 {
    right: 25%; }

  .col-lg-pull-7 {
    right: 29.16667%; }

  .col-lg-pull-8 {
    right: 33.33333%; }

  .col-lg-pull-9 {
    right: 37.5%; }

  .col-lg-pull-10 {
    right: 41.66667%; }

  .col-lg-pull-11 {
    right: 45.83333%; }

  .col-lg-pull-12 {
    right: 50%; }

  .col-lg-pull-13 {
    right: 54.16667%; }

  .col-lg-pull-14 {
    right: 58.33333%; }

  .col-lg-pull-15 {
    right: 62.5%; }

  .col-lg-pull-16 {
    right: 66.66667%; }

  .col-lg-pull-17 {
    right: 70.83333%; }

  .col-lg-pull-18 {
    right: 75%; }

  .col-lg-pull-19 {
    right: 79.16667%; }

  .col-lg-pull-20 {
    right: 83.33333%; }

  .col-lg-pull-21 {
    right: 87.5%; }

  .col-lg-pull-22 {
    right: 91.66667%; }

  .col-lg-pull-23 {
    right: 95.83333%; }

  .col-lg-pull-24 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 4.16667%; }

  .col-lg-push-2 {
    left: 8.33333%; }

  .col-lg-push-3 {
    left: 12.5%; }

  .col-lg-push-4 {
    left: 16.66667%; }

  .col-lg-push-5 {
    left: 20.83333%; }

  .col-lg-push-6 {
    left: 25%; }

  .col-lg-push-7 {
    left: 29.16667%; }

  .col-lg-push-8 {
    left: 33.33333%; }

  .col-lg-push-9 {
    left: 37.5%; }

  .col-lg-push-10 {
    left: 41.66667%; }

  .col-lg-push-11 {
    left: 45.83333%; }

  .col-lg-push-12 {
    left: 50%; }

  .col-lg-push-13 {
    left: 54.16667%; }

  .col-lg-push-14 {
    left: 58.33333%; }

  .col-lg-push-15 {
    left: 62.5%; }

  .col-lg-push-16 {
    left: 66.66667%; }

  .col-lg-push-17 {
    left: 70.83333%; }

  .col-lg-push-18 {
    left: 75%; }

  .col-lg-push-19 {
    left: 79.16667%; }

  .col-lg-push-20 {
    left: 83.33333%; }

  .col-lg-push-21 {
    left: 87.5%; }

  .col-lg-push-22 {
    left: 91.66667%; }

  .col-lg-push-23 {
    left: 95.83333%; }

  .col-lg-push-24 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 4.16667%; }

  .col-lg-offset-2 {
    margin-left: 8.33333%; }

  .col-lg-offset-3 {
    margin-left: 12.5%; }

  .col-lg-offset-4 {
    margin-left: 16.66667%; }

  .col-lg-offset-5 {
    margin-left: 20.83333%; }

  .col-lg-offset-6 {
    margin-left: 25%; }

  .col-lg-offset-7 {
    margin-left: 29.16667%; }

  .col-lg-offset-8 {
    margin-left: 33.33333%; }

  .col-lg-offset-9 {
    margin-left: 37.5%; }

  .col-lg-offset-10 {
    margin-left: 41.66667%; }

  .col-lg-offset-11 {
    margin-left: 45.83333%; }

  .col-lg-offset-12 {
    margin-left: 50%; }

  .col-lg-offset-13 {
    margin-left: 54.16667%; }

  .col-lg-offset-14 {
    margin-left: 58.33333%; }

  .col-lg-offset-15 {
    margin-left: 62.5%; }

  .col-lg-offset-16 {
    margin-left: 66.66667%; }

  .col-lg-offset-17 {
    margin-left: 70.83333%; }

  .col-lg-offset-18 {
    margin-left: 75%; }

  .col-lg-offset-19 {
    margin-left: 79.16667%; }

  .col-lg-offset-20 {
    margin-left: 83.33333%; }

  .col-lg-offset-21 {
    margin-left: 87.5%; }

  .col-lg-offset-22 {
    margin-left: 91.66667%; }

  .col-lg-offset-23 {
    margin-left: 95.83333%; }

  .col-lg-offset-24 {
    margin-left: 100%; } }
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open-sans', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }
  a:hover, a:checked, a:active, a:focus {
    color: #fff;
    text-decoration: none; }

html {
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: #d43f3a; }

.transformFix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0); }

.n-p {
  padding: 0 !important; }

.center-tc {
  display: table-cell;
  vertical-align: middle;
  float: none; }

h1 {
  font-size: 5vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

h3 {
  font-size: 1.2vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h4 {
  font-size: 0.95vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

p, a, ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

p {
  font-size: 1.1vw; }
  @media only screen and (max-width: 800px) {
    p {
      font-size: 1.000em; } }

input, textarea {
  line-height: 2vw;
  font-family: 'Open Sans'; }

#nav {
  background-color: #d43f3a;
  position: absolute;
  left: 0;
  top: 0; }
  #nav .nav__category {
    padding: 8% 10% 8% 10%;
    font-size: 25px;
    text-align: center;
    color: #fff; }
  #nav #adminMenu .adminMenu__item {
    padding: 1em 0.5em;
    cursor: pointer;
    transition: 0.1s;
    color: #fff; }
    #nav #adminMenu .adminMenu__item:hover, #nav #adminMenu .adminMenu__item.active {
      background-color: #B32924;
      border-left: 5px #fff solid; }
    #nav #adminMenu .adminMenu__item__icon {
      float: left;
      margin-right: 0.5em; }

#menu {
  height: 7vh;
  position: relative;
  top: 0;
  z-index: 10;
  background-color: #FFF;
  margin-bottom: 2em; }
  #menu #menu__container {
    width: 100%;
    height: 100%; }

.content__panel {
  padding: 3%;
  background-color: #d43f3a;
  color: #fff; }

#wr {
  min-height: 100%;
  background-color: #f0f3f4; }
  #wr #content-wr {
    opacity: 1;
    transition-duration: 0.5s; }
    #wr #content-wr .content__item {
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.1);
      width: 100%;
      position: relative;
      color: #333; }
      #wr #content-wr .content__item.editing .content__item__inner {
        display: none; }
      #wr #content-wr .content__item.editing form {
        display: block; }
      #wr #content-wr .content__item.expanded .content__item__text {
        height: 100%;
        padding: 2%; }
      #wr #content-wr .content__item.expanded .controller__item {
        width: 33.3%; }
      #wr #content-wr .content__item.expanded .controller__item--expande {
        display: none; }
      #wr #content-wr .content__item.expanded .controller__item--collapse, #wr #content-wr .content__item.expanded .controller__item--edit {
        display: block; }
      #wr #content-wr .content__item__inner {
        display: block;
        transition: 0.3s;
        position: relative; }
      #wr #content-wr .content__item__header {
        height: 4vw;
        width: 100%;
        padding: 0 0 0 2%;
        line-height: 4vw;
        position: relative;
        box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.1); }
      #wr #content-wr .content__item__text {
        line-height: 2em;
        overflow: hidden;
        height: 0; }
        #wr #content-wr .content__item__text__item {
          margin-bottom: 1%;
          padding-bottom: 1%;
          border-bottom: 1px dashed #eee; }
          #wr #content-wr .content__item__text__item:last-child {
            border-bottom: 0;
            margin: 0;
            padding: 0; }
          #wr #content-wr .content__item__text__item__titel {
            width: 20%;
            float: left; }
          #wr #content-wr .content__item__text__item__text {
            width: 80%;
            height: 100%;
            float: left;
            padding-left: 3%; }
      #wr #content-wr .content__item form {
        display: none; }
        #wr #content-wr .content__item form textarea {
          width: 100%;
          display: block;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
        #wr #content-wr .content__item form input {
          margin-bottom: 2%;
          background-color: transparent;
          border: 0;
          border-bottom: 2px #eee solid;
          font-size: 1.5em;
          font-weight: 700; }
      #wr #content-wr .content__item--content-panel {
        margin: 3em 0 2em 0; }
      #wr #content-wr .content__item--greeting {
        height: 100%;
        text-align: center;
        width: 100%; }

.controller--content-panel__item {
  border: 0;
  background-color: #FFF;
  color: #d43f3a;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  float: right;
  margin-left: 1em; }
.controller--content__item {
  width: 8em;
  height: 100%;
  margin-right: 1em;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0% 5px 0 0;
  overflow: hidden; }
  .controller--content__item .glyphicon {
    line-height: 4vw;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%; }
.controller__item {
  width: 50%;
  height: 100%;
  background-color: #f05050;
  background-color: transparent !important;
  float: left;
  cursor: pointer;
  position: relative; }
  .controller__item--edit {
    background-color: #5bc0de;
    display: none; }
  .controller__item--cancel {
    background-color: #eee; }
  .controller__item--save {
    background-color: #39d1b4; }
  .controller__item--collapse {
    display: none; }

.deactivated {
  opacity: 0 !important;
  visibility: hidden !important; }

.activated {
  opacity: 1 !important;
  visibility: visible !important; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=importer.css.map */
