$icon-font-path: "../../fonts/bootstrap/";

@import '../../../bower_components/bootstrap-sass/assets/stylesheets/_myBootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@import 'reset.scss';

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover, &:checked, &:active, &:focus {
        color: #fff;
        text-decoration: none;
    }
}

@import 'variables.scss';

@mixin res($media) {
    @if $media == xs {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }
    @else if $media == sm {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
            @content;
        }
    }
    @else if $media == md {
        @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) {
            @content;
        }
    }
    @else if $media == lg {
        @media only screen and (min-width: $break-large) {
            @content;
        }
    }
}

// ___ MEDIAQUERIES

@import 'default.scss';

#nav{
    // height: 100%;
    // background-color: $blueD;
    background-color: #d43f3a;
    position: absolute;
    left: 0;
    top: 0;
    // &__logo{
    //     width: 100%;
    //     height: 10%;
    //     text-align: center;
    //     padding-top: 16%;
    //     background-color: #354b60;
    // }
    .nav__category{
        padding: 8% 10% 8% 10%;
        font-size: 25px;
        text-align: center;
        color: #fff;
    }
    #adminMenu {
        .adminMenu__item{
            padding: 1em 0.5em;
            cursor: pointer;
            transition: 0.1s;
            color: #fff;
            &:hover{
                // color: #fff;
                background-color: #B32924;
                border-left: 5px #fff solid;
            }
            &.active{
                @extend .adminMenu__item:hover;
            }
            &__icon{
                float: left;
                margin-right: 0.5em;
            }
        }
    }
}


@import 'menu.scss';

@import 'contentPanel.scss';

#wr{
    min-height: 100%;
    background-color: #f0f3f4;
    // margin-top: 5vh;
    // padding: 1% 2%;
    #content-wr{
        opacity: 1;
        transition-duration: 0.5s;
        .content__item{
            // margin-bottom: 1%;
            // padding: 3%;
            overflow: hidden;
            // border-bottom: 1px #f9f9f9 solid;
            background-color: #fff;
            box-shadow: 0px 6px 27px rgba(0,0,0,0.1);
            width: 100%;
            // border-radius: 5px;
            position: relative;
            color: #333;
            &.editing{
                .content__item__inner{
                    display: none;
                }
                form{
                    display: block;
                }
            }
            &.expanded{
                .content__item__text{
                    height: 100%;
                    padding: 2%;
                }
                .controller__item{
                    width: 33.3%;
                }
                .controller__item--expande{
                    display: none;
                }
                .controller__item--collapse, .controller__item--edit{
                    display: block;
                }
            }
            &__inner{
                display: block;
                // height: 0;
                transition: 0.3s;
                position: relative;
            }
            &__header{
                height: 4vw;
                width: 100%;
                // background-color: $blueD;
                padding: 0 0 0 2%;
                line-height: 4vw;
                // color: #fff;
                // border-bottom: 1px #eee solid;
                position: relative;
                box-shadow: 0px 6px 27px rgba(0, 0, 0, 0.1);
            }
            &__titel{
                // margin-bottom: 5%;
            }
            &__text{
                line-height: 2em;
                // padding: 2%;
                overflow: hidden;
                height: 0;
                // transition: 0.3s;
                &__item{
                    margin-bottom: 1%;
                    // text-align: justify;
                    padding-bottom: 1%;
                    border-bottom: 1px dashed #eee;
                    &:last-child{
                        border-bottom: 0;
                        margin: 0;
                        padding: 0;
                    }
                    &__titel{
                        width: 20%;
                        float: left;
                    }
                    &__text{
                        width: 80%;
                        height: 100%;
                        float: left;
                        padding-left: 3%;
                    }
                }
            }
            form {
                display: none;
                textarea{
                    // margin-top: 2%;
                    width: 100%;
                    display: block;
                    width: 100%;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-color: #fff;
                    background-image: none;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                }
                input {
                    margin-bottom: 2%;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 2px #eee solid;
                    font-size: 1.5em;
                    font-weight: 700;
                }
            }
            &--content-panel {
                margin: 3em 0 2em 0;
            }
            &--greeting{
                height: 100%;
                text-align: center;
                width: 100%;
            }
        }
    }
}

.controller{
    &--content-panel{
        // width: 100%;
         &__item{
            // padding: 2%;
            // border: 1px solid #e7eaec;
            border: 0;
            // background-color: #6EC89C;
            background-color: #FFF;
            color: #d43f3a;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            float: right;
            margin-left: 1em;
            &--create{
                
            }
         }
    }
    &--content__item{
        width: 8em;
        height: 100%;
        margin-right: 1em;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0% 5px 0 0;
        overflow: hidden;
        .glyphicon{
            // color: #fff;
            line-height: 4vw;
            text-align: center;
            left: 0;
            right: 0;
            width: 100%;
        }
    }
    &__item{
        width: 50%;
        height: 100%;
        background-color: $redL;
        background-color: transparent !important;
        float: left;
        cursor: pointer;
        position: relative;
        &--edit{
            background-color: #5bc0de;
            display: none;
        }
        &--cancel{
            background-color: #eee;
        }
        &--save{
            background-color: $greenL;
        }
        &--collapse{
            display: none;
        }
    }
}

@import 'utils.scss';