#menu{
    height: 7vh;
	position: relative;
	top: 0;
	z-index: 10;
	// border: 1px solid #e7eaec;
    background-color: #FFF;
    margin-bottom: 2em;
    #menu__container{
    	// background-color: #F0F3F4;
        // background-color: #fff;
    	width: 100%;
    	height: 100%;	
    }
}