// COLOR
$regText: #444;
$black: #0d0d0d;
$blueL: #77D2D2;
// $blueD: #00A3A4;
$blueD: #34495e;
$orangeL: #ffc144;
// $greyL: #f9f9f9;
$greyL: #f0f3f4;
$greenL: #39d1b4;
$greenD: #278998;
$redL: #f05050;
// ___ COLOR

// MEDIAQUERIES
$break-small: 800px;
$break-medium: 1024px;
$break-large: 1360px;
