$icon-font-path: "../fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_myBootstrap.scss";
// RESET
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    &.disable-hover {
        pointer-events: none;
    }
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover, &:checked, &:active, &:focus {
        color: #fff;
        text-decoration: none;
    }
}
// MEDIAQUERIES
@import "mediaq.scss";
// ___ MEDIAQUERIES
.hidden-xs {
    @include res(xs) {
        display: none !important;
    }
}
// MAIN
html {
    overflow-x: hidden;
    overflow-y: scroll;
}
body, html {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.n-p {
    padding: 0px !important;
}
h1 {
    // font-size: 2.6vw;
    font-size: 2.35em;
    margin-bottom: 25px;
    font-family: 'merriweatherlight';
    color: #4C4C4C;
    letter-spacing: 1px;
    font-weight: 900;
    &.titel-opensans{
        font-family: 'opensans';
        text-transform: uppercase;
    }
    @include res (xs) {
        font-size: 2.250em;
    }
}
h2 {
    // font-size: 2.4vw;
    font-size: 2.15em;
    font-family: 'opensans';
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: 1.3em;
    @include res (xs) {
        font-size: 2.1em;
    }
}
h4 {
    font-size: 1em;
    line-height: 1.5em;
    @include res (xs) {
        font-size: 0.875em;
    }
}
p {
    // font-size: 1.2vw;
    font-size: 1.05em;
    line-height: 1.9em;
    font-family: 'merriweatherlight_italic';
    
    @include res (xs) {
        font-size: 1.000em;
        line-height: 24px;
    }
}
.open-sans {
    font-family: 'open_sanslight';
    @include res (xs) {
        font-size: 0.875em !important;
    }
}
.n-m-b{
  margin-bottom: 0px !important;
}
// ___ MAIN
// // FONT
@import "fonts.scss";
// // ___ FONT
// COLORS
$redL: #EE4742;
$orangeL: #FFCB65;
$grayL: #EEEDED;
$blueL: #4E8DAF;
// ___ COLORS
// SCALES
$menuWidthM: 135px;
// ___ SCALES
// NAVIGATION
nav {
    height: 100%;
    top: 0;
    background-color: #fff;
    position: fixed;
    right: 0;
    width: $menuWidthM;
    z-index: 12;
    font-family: 'open_sanslight';
    transition: 0.2s;
    overflow: hidden;
    .inner-nav-wr {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: table;
    }
    .logo-WR {
        padding: 15px 30px;
        // padding: 10px 30px;
        position: absolute;
        top: 0;
        left: 0;
        // background-color: $redL;
  // background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) -90%, rgb(180,44,67) 100%);
  // background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) -90%, rgb(180,44,67) 100%);
  // background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) -90%, rgb(180,44,67) 100%);


        .logo {
            width: 80px;
            // height: 93px;
            // height: 120px;
            // height: 80px;
        }
    }
    .menu-list {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 100%;
        .menu-list-item {
            margin-bottom: 14px;
            padding: 0px 20px;
            &:last-child {
                margin-bottom: 0px;
            }
            .menu-list-item-link {
                color: #333333;
                font-size: 0.750em;
                position: relative;
                &:after {
                    border-bottom: 1px solid #FDA1A1;
                    content: '';
                    display: block;
                    // margin-top: 7px;
                    width: 15px;
                    position: absolute;
                    right: 0px;
                    bottom: -7px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover, &.active-link {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .menu-controllers {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        overflow: hidden;
        .telephone-WR {
            overflow: hidden;
            width: 200%;
            height: 72px;
            padding: 20px 0px;
            position: relative;
            transition: 0.3s;
            
            left: 0%;
            &:hover {
                left: -100%;
                @include res(xs){
                    left: 0;
                }
            }
            .menu-telephone {
                height: 100%;
                width: 50%;
                float: left;
                position: relative;
                text-align: center;
                display: table;
                .open-sans {
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 0.9em;
                    color: #000;
                }
            }
            .telephone-img {
                width: 32px;
                height: 32px;
                left: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
        .lang-controllers {
            height: 45px;
            position: relative;
            cursor: pointer;
            .lang-controller {
                width: 50%;
                height: 100%;
                float: left;
                text-align: center;
                position: relative;
                display: table;
                &.ru-lang {
                    color: #fff;
                    background-color: $redL;
                }
                &.eng-lang a {
                    color: #000;
                }
                a {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    @include res (xs) {
        // width: 25%;
        width: 100%;
        height: 10%;
        box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.36);
        .mobile-menu {
            width: 100%;
            height: 17px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            cursor: pointer;
            .menu-line {
                // width: 40%;
                width: 10%;
                height: 3px;
                background-color: $redL;
                right: 0;
                left: 0;
                margin: auto;
                margin-bottom: 4px;
                transition: 0.2s;
                &#menu-line3 {
                    margin-bottom: 0;
                }
            }
        }
        &.activated-menu {
            height: 100%;
            .mobile-menu {
                width: 20%;
                .menu-line {
                    left: 10px;
                    margin: 0;
                    margin-bottom: 4px;
                    position: relative;
                    width: 50%;
                }
            }
            .logo-WR {
                padding: 10px 30px;
                width: 100%;
                .logo {
                    position: absolute;
                    right: 0;
                    left: 0;
                    margin: auto;
                }
            }
            .menu-list {
                text-align: center;
                .menu-list-item {
                    margin-bottom: 7%;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .menu-list-item-link:after {
                        width: 100%;
                    }
                    .menu-list-item-link {
                        font-size: 1.5em;
                    }
                }
            }
            .telephone-WR {
                width: 100%;
                // pointer-events: none;
                .menu-telephone {
                    &.telephone-img-wr {
                        width: 10%;
                        margin-left: 20%;
                    }
                    a {
                        color: #000 !important;
                    }
                }
            }
        }
    }
}
// ___ NAVIGATION
.center-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
    .inner-center-table-cell {
        float: none;
        margin: auto;
    }
}
.main-WR {
    height: 100%;
    width: calc(100% - #{$menuWidthM});
    position: relative;
}
#about-company-section {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: inset 0 21px 31px -22px black;
    @include res (xs) {
        padding: 20px 0;
    }
}
#first-section-float-emulation {
    height: 100%;
    width: 100%;
    display: table;
    .first-section-titel {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        color: #fff;
        z-index: 10;
        .first-section-float-emulation-titel {
            font-family: 'open_sansbold';
            margin-bottom: 10px;
            font-size: 8em;
            color: #fff;
            font-weight: 900;
            @include res (md) {
                font-size: 5em;
            }
            @include res (xs) {
                font-size: 2.5em;
            }
            span {
                color: #D12742;
            }
        }
        .first-section-float-emulation-desc {
            font-family: 'open_sanslight';
            text-transform: uppercase;
        }
    }
    @include res(xs) {
        background-color: #000;
    }
}
.first-section {
    height: 100%;
    // width: calc(100% - #{$menuWidthM});
    width: 100%;
    background-color: #eee;
    overflow: hidden;
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    // z-index: 1;
    background-image: url("../images/interexpo_bg.jpg");
    background-size: cover;
    video {
        position: relative;
    }
    .video-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
    }
    @include res(xs) {
        position: absolute;
        display: none;
    }
}
#about-company-section {
    display: table;
    .about-company-section-text-wr {
        text-align: center;
        transform: translateX(-100px);
        @include res(xs) {
            transform: translateX(0);
        }
        span {
            color: $redL;
        }
        .about-company-section-image {
            width: 100%;
            max-width: 680px;
        }
        .about-company-section-text {
            margin-bottom: 72px;
            @include res (xs) {
                margin-bottom: 30px;
            }
        }
    }
}
#clients-section {
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    // box-shadow: 0 24px 41px 16px black;
    .clients-square {
        // min-height: 33.34%;
        height: 33.34%;
        overflow: hidden;
        padding: 0;
        width: 0;
        transition: 0.3s;
        @include res(xs) {
            width: 50%;
        }
        &.active {
            width: 25%;
        }
        .clients-square-slider {
            width: 200%;
            height: 100%;
            position: absolute;
            transition: 0.7s;
            left: 0;
            &.next-list {
                left: -100%;
            }
        }
        .clients-square-inner-content {
            width: 50%;
            height: 100%;
            position: relative;
            transition: 0.3s;
            float: left;
            text-align: center;
            &:hover {
                .clients-square-inner-content-images {
                    transform: scale(1.2);
                }
            }
            &.clients-slider-controller {
                cursor: pointer;
                h4 {
                    position: absolute;
                    width: 100%;
                    bottom: 10%;
                }
            }
            .clients-square-inner-content-images {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: 0.2s;
                &.logos {
                    max-width: 35%;
                    &#igromir {
                        max-width: 55%;
                    }
                }
                &.special {
                    max-width: 70%;
                }
                &.text {
                    max-height: 35%;
                    &.text-hyuandai{
                        max-height: 15%;
                    }
                }
            }
        }
        &:nth-child(2) {
            background-color: #fff;
        }
        &:nth-child(3) {
            background-color: $orangeL;
            transition-delay: 0.3s;
        }
        &:nth-child(4) {
            background-color: $grayL;
            transition-delay: 0.6s;
        }
        &:nth-child(5) {
            background-color: #fff;
            transition-delay: 0.9s;
        }
        &:nth-child(6) {
            background-color: #4E8DAF;
            transition-delay: 1.2s;
            @include res(xs) {
                float: right;
            }
        }
        &:nth-child(7) {
            background-color: #fff;
            transition-delay: 1.5s;
        }
        &:nth-child(8) {
            background-color: #fff;
            transition-delay: 1.8s;
        }
        &:nth-child(9) {
            background-color: #918ACD;
            transition-delay: 2.1s;
        }
        &:nth-child(10) {
            background-color: #fff;
            transition-delay: 2.4s;
        }
        &:nth-child(11) {
            background-color: #373535;
            transition-delay: 2.7s;
        }
    }
    .about-clients {
        background-color: $redL;
        position: relative;
        // display: table;
        // min-height: 33.34%;
        height: 33.34%;
        // padding: 20px;
        width: 0;
        transition: 0.3s;
        @include res(xs) {
            display: table;
            width: 100%;
            padding: 5em 0;
        }
        @include res(md) {
            padding: 1em 0;
        }
        &.active {
            display: table;
            width: 50%;
        }
        .about-clients-text {
            display: table-cell;
            vertical-align: middle;
            float: none;
            // @include res (lg) { 
            padding: 0 40px;
            // }
            .titel-with-square {
                margin-bottom: 0.5em;
                color: #fff;
            }
        }
    }
    &.animated{
        .clients-square{
            width: 25%;
        }
        .about-clients {
            display: table;
            width: 50%;
        }
    }
}
// PORTFOLIO
#portfolio-section {
    width: 100%;
    min-height: 100%;
    // height: 100%;
    position: relative;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    .clearfix {
        background-color: #fff;
    }
    .portfolio-section-text {
        // height: 80%;
        // height: 10%;
        width: 100%;
        padding: 7em 0;
        position: relative;
        background-color: #fff;
        text-align: center;
        display: table;
        background-color: $redL;
        // background-color: #373535;
        // transform: translateX(100px);
        .titel-opensans{
            font-size: 7em;
            // font-size: 7em;
            margin-bottom: 0.35em;
            color: #fff;
            letter-spacing: 10px;
            font-weight: 100;
            font-family: 'open_sanslight';
            &:after{
                  width: 15%;
                  height: 5px;
                  background-color: #FFFFFF;
                  position: absolute;
                  top: 130%;
                  left: 42.5%;
            }
            @include res(xs) {
                font-size: 3.5em;
                margin-bottom: 0;
                &:after{
                    height: 3px;
                    top: 115%;
                }
            }
        }
        @include res (xs) {
            padding: 30px 0;
            // transform: translateX(0);
        }
    }
    .portfolio-section-projects {
        height: 100%;
        position: relative;
        background-color: #fff;
        overflow: hidden;
    }
    .portfolio-section-project {
        background-color: #fff;
        overflow: hidden;
        // margin-bottom: 14px; 
        padding: 0;
        height: 66.6%;
        .inner-portfolio-section-project {
            background-color: #eee;
            height: 100%;
            width: 100%;
            position: relative;
            overflow: hidden;
            // cursor: pointer;
            background-size: cover;
            background-position: center center;
            cursor: pointer;
            
            .hover-portfolio-section-project {
                background-color: $redL;
                // width: 80%;
                // height: 80%;
                width: 100%;
                height: 100%;
                position: absolute;
                top: -200%;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                display: block;
                color: #fff;
                // @include res (xs) {
                //     top: 0 !important;
                //     left: 0 !important;
                // }
                .inner-hover-portfolio-section-project {
                    display: table;
                    width: 100%;
                    height: 100%;
                    h2{
                        line-height: 1em;
                    }
                }
                .inner-hover-portfolio-section-project-desc {
                    display: inline-block;
                    position: relative;
                    &:after {
                        content: '';
                        width: 10px;
                        height: 1px;
                        background-color: #fff;
                        position: absolute;
                        right: -20px;
                        top: 55%;
                    }
                    &:before {
                        @extend .inner-hover-portfolio-section-project-desc:after;
                        left: -20px;
                    }
                }
            }
        }
    }
}
// ___ PORTFOLIO
#sertificate-section{
    height: 66.6%;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: table;
    text-align: center;
    overflow: hidden;
    @include res (xs) {
        padding: 20px 0;
    }
    .sertificate-section-description {
        // padding-bottom: 20%;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // margin: auto;
        transform: translateX(-100px);
        @include res (xs) {
            position: relative;
            transform: translateX(0);
        }
        .inner-sertificate-section-description {
            float: none;
            margin: auto;
            @include res (xs) {
                padding-top: 30px;
            }
            #certificate-link {
                display: block;
                position: relative;
                margin-top: 70px;
                @include res (xs) {
                    margin-top: 10px;
                }
                &:hover {
                    // margin-top: 30px;
                    .inner-sertificate-section-description-image{
                        top: -3em;
                    }
                }
            }
            .inner-sertificate-section-description-image {
                position: absolute;
                width: 40%;
                left: 0;
                right: 0;
                margin: auto;
                top: 0;
                transition: 0.3s;
                @include res (xs) {
                    width: 50%;
                }
            }
        }
    }
}
// SERVICES
#services-section{
    // height: 99.9%;
    height: 100%;
    position: relative;
    background-color: #F4F4F4;
    @include res (xs) {
        height: auto;
        text-align: center;
    }
    .service-section-description {
        padding: 0 60px;
        height: 100%;
        display: table;
        background-color: #1F1F1F;
        color: #fff;
        .titel-opensans{
            font-size: 3.5em;
            color: #fff;
        }
        @include res (xs) {
            padding: 3em 1em;
        }
        @include res (md) {
            padding: 0;
        }
    }
    .service-section-blocks-WR {
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        @include res (xs) {
            height: auto !important;
        }
        .service-section-block {
            height: 50%;
            overflow: hidden;
            cursor: pointer;
            // background-size: cover;
            text-align: center;
            color: #fff;
            // transition: 0.3s;
            @include res (xs) {
                height: auto !important;
                filter: none;
                background-size: cover !important;
                background-position: center center !important;
                padding: 5em 0 !important;
            }
            &.service-section-hovered{
                .service-section-block-bg{
                    transform: scale(1.2);
                }
            }
            .inner-service-section-block-wr{
                width: 100%;
                height: 100%;
                display: table;
            }
            .service-section-block-bg {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-size: cover;
                // filter: grayscale(80%);
                transition: 0.3s;
                @include res (xs) {
                    height: 100% !important;
                    filter: none;
                    background-size: cover !important;
                    background-position: center center !important;
                    padding: 20px 0 !important;
                }
            }
            &:nth-child(1) {
                .service-section-block-bg {
                    background-image: url('../images/services(2).jpg');
                    background-position: top left;
                }
            }
            &:nth-child(2) {
                .service-section-block-bg {
                    background-image: url('../images/services(1).jpg');
                    background-position: top right;
                }
            }
            &:nth-child(3) {
                .service-section-block-bg {
                    background-image: url('../images/services.jpg');
                    background-position: bottom left;
                }
            }
            &:nth-child(4) {
                .service-section-block-bg {
                    background-image: url('../images/services(1).gif');
                    background-position: bottom right;
                }
            }
            &.activated {
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                .inner-service-section-block {
                    opacity: 1;
                    visibility: visible;
                    display: table-cell;
                    .inner-service-section-block-titel, .inner-service-section-block-text {
                        display: block;
                    }
                }
                .overlay {
                    background-color: rgba(0, 0, 0, .7)
                }
            }
            .overlay {
                z-index: 0;
                display: block;
            }
            .inner-service-section-block {
                opacity: 0;
                visibility: hidden;
                display: none;
                .inner-service-section-block-titel {
                    color: #fff;
                    @include res (xs) {
                        font-size: 1.5em;
                    }
                }
                .inner-service-section-block-titel, .inner-service-section-block-text {
                    display: none;
                }
                @include res (xs) {
                    display: table-cell;
                    opacity: 1;
                    visibility: visible;
                    font-size: 0.9em;
                    .inner-service-section-block-titel, .inner-service-section-block-text {
                        display: block;
                    }
                }
            }
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            display: none;
        }
    }
}
// ___ SERVICES
// REASONS
#reasons-section{
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 185%;
    overflow: hidden;
    .reasons-section-blocks {
        height: 33.34%;
        display: table;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateX(-100%);
        transition-delay: 0.3s;
        padding: 0 3em;
        @include res(xs) {
            padding: 20px 0 !important;
            transform: translateX(0) !important;
            transition-delay: 0 !important;
        }
        &:nth-of-type(4), &:nth-child(6) {
            .reasons-section-inner-blocks {
                .reasons-section-inner-titel {
                    // margin-top: 30px;
                    @include res(xs) {
                        font-size: 1.3em;
                        // margin-top: 7px;
                    }
                    @include res(md) {
                        font-size: 1.8em;
                    }
                }
            }
        }
        .reasons-section-inner-blocks {
            // padding: 0 10%;
            position: relative;
            text-align: center;
            @include res (xs) {
                padding: 0 5%;
            }
            .titel--main{
                text-align: left;
                font-size: 4em;
            }
            .reasons-section-inner-text-wr {
                padding-right: 0px;
            }
            .icon-wr {
                // margin-bottom: 1em;
                position: absolute;
                // top: -10%;
                transform: translateY(-100%);
                .reasons-section-icons {
                    width: 100%;
                }
            }
            // h1 {
            //     text-align: center;
            // }
            .reasons-section-inner-titel, .reasons-section-inner-text {
                color: #fff;
            }
            .reasons-section-inner-text {
                // font-size: 1vw;
                line-height: 1.5em;
                font-family: 'open_sanslight';
                // text-align: center;
                @include res (xs) {
                    font-size: 1.1em;
                    line-height: 17px;
                }
            }
            .reasons-section-inner-titel {
                // margin-bottom: 15px;
                // margin-top: 50px;
                text-align: center;
                margin-bottom: 0.5em;
                margin-top: 0.5em;
                @include res (xs) {
                    // margin-top: 10%;
                }
            }
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            background-color: $blueL;
            transform: translateX(100%);
            transition-delay: 0.3s;
        }
        &:nth-child(3) {
            background-color: #EDB74D;
            transition-delay: 0.6s;
        }
        &:nth-child(4) {
            background-image: url('../images/services_dark.jpg');
            transform: translateX(100%);
            transition-delay: 0.6s;
            .icon-wr{
                top: 0;
            }
        }
        &:nth-child(5) {
            background-image: url('../images/reasons2.jpg');
            transition-delay: 0.9s;
            @include res(xs) {
                float: right;
            }
        }
        &:nth-child(6) {
            background-color: $redL;
            transform: translateX(100%);
            transition-delay: 0.9s;
        }
    }
}
// ___ REASONS
// EQUIPMENT
#equipment-section {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 75%;
    .equipment-section-bg-image {
        height: 100%;
        background-image: url('../images/equipment.JPG');
        background-size: cover;
        background-position: right;
    }
    .equipment-section-description {
        height: 100%;
        display: table;
        text-align: center;
        transform: translateX(100px);
        @include res (xs) {
            padding: 30px 5px;
            transform: translateX(0);
        }
        .equipment-section-description-text {
            margin-bottom: 10%;
        }
        input {
            float: left;
        }
    }
}
// ___ EQUIPMENT
// CONTACTS
#contacts-section {
    height: 66.66667%;
    background-color: #fff;
    position: relative;
    @include res (xs) {
        height: 150%;
    }
    .contacts-section-description {
        height: 100%;
        text-align: center;
        color: #fff;
        display: table;
        font-family: 'open_sanslight';
        // transform: translateX(-100%);
        z-index: 1;
        opacity: 1 !important;
        background-image: linear-gradient(-90deg, rgb(163, 28, 23) 0%, rgb(238, 71, 66) 100%);
        @include res (xs) {
            height: 50%;
            transform: translateX(0);
        }
        .inner-contacts-section-description {
            height: 100%;
            display: table-cell;
            h2 {
                margin-bottom: 20px;
            }
            .inner-contacts-section-description-block {
                display: table;
                margin-bottom: 20px;
                .inner-contacts-section-description-image {
                    left: -20px;
                    position: relative;
                    @include res (xs) {
                        left: 0;
                        margin-right: 15px;
                    }
                    @include res (md) {
                        left: 0;
                    }
                }
                .inner-contacts-section-description-text {
                    right: -20px;
                    position: relative;
                    &:before {
                        content: '';
                        width: 2px;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #fff;
                    }
                    @include res (xs) {
                        right: 0;
                    }
                    @include res (md) {
                        &:before{
                            width: 0;
                        }
                    }
                }
            }
        }
    }
    .contacts-section-map {
        background-color: #fff;
        height: 100%;
        // background-image: url('../images/Buchanan-Google-Map.jpg');
        background-size: cover;
        background-position: center;
        // transform: translateX(-200%);
        transition-delay: 0.3s;
        z-index: 0;
        opacity: 1 !important;
        transition-duration: 1s;
        @include res (xs) {
            height: 50% !important;
            transform: translateX(0);
        }
        .labels{
            &:after{
                content: "";
                background-color: #fff;
                width: 100px;
                height: 100px;
            }
        }
    }
}
// ___ CONTACTS
#feedback-section {
    height: 100%;
    background-color: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
    .feedback-section-description {
        display: table;
        height: 100%;
        text-align: center;
        transform: translateX(-100px);
        @include res (xs) {
            padding: 30px 0;
            transform: translateX(0);
        }
        .feedback-section-description-text {
            margin-bottom: 25px;
        }
        input {
            margin-bottom: 15px;
            @include res (xs) {
                width: 80%;
            }
        }
        .button {
            margin-top: 30px;
            width: 150px;
            height: 33px;
            margin-left: calc(( 100% - 150px) / 2);
            &:hover {
                margin-top: 25px;
            }
        }
    }
    .feedback-section-bg-image {
        height: 100%;
        background-image: url('../images/feedback5.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-100%);
        z-index: 1;
        @include res(xs) {
            transform: translateY(0);
        }
    }
}
// FOOTER
footer {
    height: 25%;
    width: 100%;
    background-color: $redL;
    position: relative;
    background-image: linear-gradient( 0deg, rgb(163, 28, 23) 0%, rgb(238, 71, 66) 100%);
    text-align: center;
    font-family: 'open_sanslight';
    color: #fff;
    @include res (xs) {
        height: 40%;
    }
    .inner-footer-sections {
        height: 100%;
        display: table;
        @include res (xs) {
            height: 33.33%;
            &:nth-child(1) {
                padding-top: 15px;
            }
        }
    }
    .social-btn {
        display: block;
        width: 45px;
        height: 45px;
        border: 2px #fff solid;
        border-radius: 50%;
        float: left;
        margin-right: 10px;
        transition: 0.3s;
        position: relative;
        background-color: transparent;
        overflow: hidden;
        @include res (xs) {
            background-color: #fff;
        }
        svg {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            width: 20px;
            fill: #fff;
            transition: 0.3s;
            @include res (xs) {
                fill: $redL;
            }
            &#vk {
                width: 25px;
            }
        }
        &:first-child {
            margin-left: calc( ( 100% - 165px)/2)
        }
        .social-btn-inner {
            width: 0;
            height: 0;
            background-color: #fff;
            transition: 0.3s;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
        &:hover {
            .social-btn-inner {
                width: 106% !important;
                height: 110% !important;
            }
            svg {
                fill: $redL;
            }
        }
    }
}
// ___ FOOTER
// MODAL
.modal-window {
    height: 100% !important;
    width: calc(100% - #{$menuWidthM});
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: scale(1.3);
    @include res (xs) {
        top: 10%;
        overflow: auto;
        width: 100%;
    }
    &.active {
        transform: scale(1);
    }
    .modal-window-text-wr {
        height: 100%;
      padding: 0 2em;
        .modal-window-text-controllers {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .inner-modal-window-text-controller {
                position: absolute;
                display: table;
                // width: 50.5%;
                width: calc(50% - 0.9em);
                height: 7%;
                text-align: center;
                background-color: #fff;
                transition: 0.2s;
                border-radius: 5px;
                background-color: #eee;
                cursor: pointer;
                p {
                    font-size: 0.7em;
                    font-family: 'opensans';
                    cursor: pointer;
                    text-transform: uppercase;
                    @include res (xs) {
                        font-size: 1.000em;
                        line-height: 24px;
                    }
                }
                &.close-project {
                    top: 1em;
                    left: 1em;
                    // border-bottom: 1px #eee solid;
                    // border-right: 1px #eee solid;
                    // width: 30%;
                    width: auto;
                    height: auto;
                    padding: 1em;
                    i{
                        font-size: 2em;
                    }
                    @include res(xs) {
                        top: 0;
                        left: 0;
                        width: 100%;
                        background-color: $redL;
                        color: #fff;
                        border-color: $redL;
                        height: 5%;
                    }
                }
                &.prev-project {
                    bottom: 1em;
                    left: 1em;
                    // border-right: 1px #eee solid;
                    // border-top: 1px #eee solid;
                    border-radius: 5px 0 0 5px;
                    @include res(xs) {
                        display: none;
                    }
                }
                &.next-project {
                    right: 1em;
                    bottom: 1em;
                    // border-top: 1px #eee solid;
                    // border-left: 1px #eee solid;
                    border-radius: 0 5px 5px 0;
                    @include res(xs) {
                        display: none;
                    }
                }
                &:hover {
                    background-color: $redL;
                    color: #fff;
                    border-color: $redL;
                }
            }
        }
        .inner-modal-window-text-wr {
            // display: table;
            height: 100%;
            width: 100%;
            position: relative;
            @include res(xs) {
                position: relative;
            }
            .modal-window-text-company-name {
                // font-size: 2.2vw;
                // margin-bottom: 20px;
                line-height: 1.3em;
                @include res(xs) {
                    font-size: 1.8em;
                }
            }
            .modal-window-text-company-char {
                // font-size: 1vw;
                @include res(xs) {
                    font-size: 0.9em;
                }
            }
            .modal-window-text {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: table;
                transition: 0.3s;
                height: 100%;
                width: 100%;
                text-align: center;
                @include res(xs) {
                    top: 10%;
                }
            }
        }
        .desc {
            margin-top: 20px;
            font-size: 1vw;
            @include res (xs) {
                font-size: 1.000em;
                line-height: 24px;
            }
        }
    }
    .modal-window-image-wr {
        height: 100%;
        overflow-y: auto;
        @include res(xs) {
            // height: 70%;
            height: auto !important;
            padding-bottom: 20%;
        }
        .inner-modal-window-image-wr {
            // height: 100%;
            width: 100%;
            // position: absolute;
            // top: 0;
            // left: 0;
            // background-position: center center;
            // background-size: cover;
            transition: 0.3s;
            margin-bottom: 15px;
            &:first-child{
                margin-top: 15px;
            }
            .modal-window-image{
                width: 100%;
            }
        }
        .inner-modal-window-slider-controllers {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            .inner-modal-window-slider-controller-wr {
                height: 100%;
                position: absolute;
                display: table;
                top: 0;
                background-color: rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }
                &.next-project-btn {
                    right: 0;
                }
                .inner-modal-window-controllers-arrows {
                    padding: 0 10px;
                    @include res(xs) {
                        padding: 0;
                        height: 40px;
                        top: -20px;
                    }
                }
            }
        }
    }
}
// ___ MODAL
// FORM
input {
    font-family: 'open_sanslight';
    border: 0px;
    border-bottom: 1px $redL solid;
    text-align: center;
    width: calc(100% - 100px);
    height: 30px;
}
.button {
    font-family: 'open_sanslight';
    width: 100px;
    height: 30px;
    background-color: $redL;
    display: table;
    transition: 0.3s;
    &:hover {
        background-color: #EA1913;
    }
}
// ___ FORM
#certificate-modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: calc( 100% - #{$menuWidthM});
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    #certificate-modal-window-image {
        left: 0;
        top: 0;
        height: 90%;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
    }
}

.transition {
    // transition-duration: 1s;
    transition: transform 0.5s cubic-bezier(0.59, .01, .39, .99), opacity 0.5s ease-out;
    // transition-timing-function: cubic-bezier(0.59,.01,.39,.99);(1,.01,.1,.99)
}

.clearfix {
    clear: both;
}
.active {
    opacity: 1 !important;
    visibility: visible !important;
    // transform: translateX(0) translateY(0) !important;
}

.deactive {
    opacity: 0 !important;
    visibility: hidden !important;
}

.before-animated{
    opacity: 0 !important;
    visibility: hidden !important;
}

.animated{
    opacity: 1 !important;
    visibility: visible !important;
    > div {
        @extend .transition;
        transform: translateX(0) translateY(0) !important;
    }
}

.titel-with-underline {
    position: relative;
    &:after {
        content: "";
        width: 10%;
        height: 1px;
        background-color: $redL;
        position: absolute;
        top: 140%;
        left: 45%;
    }
}
/* Responsive: Portrait tablets and up */

.titel-with-square {
    padding-left: 30px;
    position: relative;
    &:before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &.red {
        &:before {
            background-color: $redL;
        }
    }
    @include res (xs) {
        padding: 0;
        &:before {
            display: none;
        }
    }
}

@import '_colors_classes.scss';

@media screen and (max-width: 768px) {
    .main-WR, .first-section {
        width: 100%;
        position: absolute;
        top: 0;
        video {
            z-index: 0;
        }
    }
    .clients-section {
        text-align: center;
        .square {
            // height: auto;
        }
    }
    .clients-section .about-clients .about-clients-text {
        padding: 40px 0px;
    }
}
@media screen and (min-width: 768px) {}

