.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;

  user-select: none;
}

.pace.pace-inactive .pace-progress {
  // display: none;
  opacity: 0;
  visibility: hidden;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 1;
visibility: visible;
transition-duration: 0.3s;
display: table;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  top: 0;
  right: .5rem;
  width: 50%;
  height: 100%;
  content: attr(data-progress-text);
  font-family: 'open_sanslight', "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 4vw;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  @media (max-width: 800px) {
      width: 100%;
    }
}
.pace .pace-progress:before {
  // display: block;
  // position: absolute;
  top: 0;
  right: .5rem;
  content: "InterExpo";
  width: 50%;
  height: 100%;
  font-family: 'open_sanslight', "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 4vw;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  @media (max-width: 800px) {
      display: none;
    }
}